@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

.community{
    min-height: 100vh;
    padding: 3rem 5%;
    text-align: center;
}

h2{
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    max-width: 400px;
}

h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    max-width: 550px;
}


.community{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}





